{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="section-1-homepage">
        <div class="container">
            <h2>Introducing <span style="color:var(--primary);">VisionGuardian</span>,</h2>
            <p>Introducing VisionGuardian, the revolutionary platform that transforms the detection and classification of diabetic retinopathy. Leveraging cutting-edge retina scanning technology and advanced artificial intelligence, VisionGuardian delivers precise and timely diagnostics, empowering doctors with actionable insights. Say goodbye to uncertain diagnoses and hello to accurate, efficient eye care solutions. With VisionGuardian, medical professionals can trust in our innovative tools to enhance patient outcomes and streamline their practice. Let VisionGuardian be your trusted partner in providing exceptional eye health care—where technology and expertise converge for superior results.</p>
            <div class="btn-container">
                <button class="primary" onclick="window.location='{{ url_for('signup') }}'">Get Started</button>
                <button class="secondary" onclick="window.location='{{ url_for('login') }}'">Already a Member</button>
            </div>
        </div>
        <div class="robot-image"></div>
        <div class="robot-image-shadow"></div>
    </section>

    <section class="seciton-2-homepage">
        <div class="container">
            <p>Database</p>
            <ul class="list">
                <li>MongoDB</li>
            </ul>
        </div>
        <div class="container">
            <p>Technologies</p>
            <ul class="list">
                <p>Frontend</p>
                <li>HTML</li>
                <li>CSS</li>
                <li>JS</li>
                <li>AJAX</li>
                <p>Backend</p>
                <li>Flask</li>
                <p>Prediction & NLP</p>
                <li>Computer Vision</li>
                <li>Scikit-learn</li>
            </ul>
        </div>
        <div class="container">
            <p>APIs</p>
            <ul class="list">
                <li>Yahoo Finance</li>
                <li>Twelve Data</li>
                <li>CoinMarketCapAPI</li>
            </ul>
        </div>
    </section>

{% endblock %}
